*.sdf
*.suo
*.exe
*ipc
*.opensdf
windows/Debug/*
windows/Game/Debug/*
windows/Game/Release/*
windows/Engine/Debug/*
windows/Engine/Release/*
windows/TestResults/*
windows/build/*

windows/EditorBackend/EditorDebug/*
windows/Engine/EditorDebug/*
windows/Game/EditorDebug/*
windows/EditorBackend/Game Debug/*
windows/EditorFrontend/bin/*
windows/EditorFrontend/obj/*

*.nativecodeanalysis.xml

src/version.h

*ipch*
*.~vsd*

*.log
*.swp

tools/EntityCreator/obj*
tools/EntityCreator/bin*
/windows/TilemapEditor/Debug
*.user
/tools/Editor/bin/Debug
/tools/Editor/obj/Debug
/windows/Executable
/windows/Executable/Debug/*
/windows/Executable/log.txt
/windows/DynamicLibrary/Debug/*
/windows/Editor/bin/Debug
/windows/Editor/obj/Debug
/windows/DynamicLibrary/Release
/windows/Editor/obj/Release
/windows/UnitTests/Debug/UnitTests.tlog
/windows/UnitTests/Debug
/windows/UnitTests/Debug
/windows/Emscripten/Debug

*ClassDiagram*.cd
*.dgml
*.psess
*.vsp
/bin/log.txt
/bin/log.txt
/windows/Release
*.tlog
*.obj
*.lastbuildstate
*.pdb
*.sbr
*.idb
*.lib
*.bsc
/windows/Editor/bin/Release


# android
*.class

#cppcat
*.i-*
*.CppCat.cfg*
*.i
*.PropellerScene

*unsuccesfulbuild


/windows/Standalone/Debug/*
/windows/Standalone/Release/*
/windows/EditorBackend/Debug/*
/windows/EditorBackend/Release/*
*.ilk
*.exp
*.unsuccessfulbuild
*.pch
windows/EditorDebug/Editor.exe.config
/thirdparty/JsonCpp/Debug
/windows/Standalone/EditorDebug


/linux/obj/*
/linux/*.a

*/obj/

signals/signals
/windows/Launcher/bin/Debug
/windows/Launcher/obj/Debug
/windows/Launcher/obj/Release
*.d
*.cache
/android/AndroidApk/bin/proguard.txt
/android/AndroidApk/gen/com/android/gl2jni
/android/AndroidApk/local.properties
/windows/Launcher/obj/Android Debug
*.o
/windows/Launcher/bin/Release/Launcher.exe.config
/bin/openal32.dll
/bin/sfml-audio-2.dll
/bin/sfml-audio-d-2.dll
/bin/sfml-graphics-2.dll
/bin/sfml-graphics-d-2.dll
/bin/sfml-network-2.dll
/bin/sfml-network-d-2.dll
/bin/sfml-system-2.dll
/bin/sfml-system-d-2.dll
/bin/sfml-window-2.dll
/bin/sfml-window-d-2.dll
/bin/lol.cfg

# published stuff is going into this directory
/output/*
/windows/Android/Android Debug

linux/standalone
/android/Android/Android Debug
/android/AndroidApk/bin
/android/AndroidApk/gen/fi/propeller

linux/tests
boost.zip
linux/*.cfg
*.cso
/windows/Standalone/options.cfg
*.pp
/windows/Output-Debug.txt
*.so
*.bc
/windows/Emscripten/Emscripten
/windows/UpgradeLog.XML
/windows/_UpgradeReport_Files
/windows/Android/Debug
/windows/Android/Release
/doc/PropellerGuide.synctex.gz
/doc/PropellerGuide.pdf
/doc/PropellerGuide.aux
/doc/PropellerGuide.idx
/doc/PropellerGuide.ilg
/doc/PropellerGuide.toc
/doc/PropellerGuide.ind


android/NativePropeller/Tegra-Android/GameDevelopment/libs/
android/NativePropeller/Tegra-Android/GameDevelopment/bin/
android/NativePropeller/Tegra-Android/GameDevelopment/ant_log.xml

*ProjectUpgradeBackup*
*.apk
/android/NativePropeller/assets
*.db
/android/NativePropeller/Tegra-Android
*.ProfiledPropeller

linux/premake4
*.sb
*.backup
/windows/packages/Newtonsoft.Json.6.0.8
/bin/data
/propellerengine_full
/propellerengine_full.zip
*.zip
/propellerengine_patch
*.lnk
*.vspx
/enginedata
